.doneOutline-1 {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 12px;
}


.plateBorder-1{fill:none;stroke:currentColor;stroke-miterlimit:10;stroke-width:10px;}